
.ul {
    font-weight: normal;
    font-size: 18px;
    font-variant-caps: normal;
}

.sectiontitle {
    font-weight: bold;
    font-size: 24px;
    font-variant-caps:all-petite-caps;
}

.resumefont {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.anchorfont {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-variant-caps: all-petite-caps;
    color:rgb(41, 42, 43);
    float: right;
    font-size: 24px;
}




